<footer class="footer">
  <div class="container">
    <ul class="footer__socpublic-list socpublic-list list">
      <li class="footer__socpublic-item">
        <a
          href="https://www.facebook.com"
          class="socpublic__link link"
          aria-label="Facebook"
          rel="noopener nofollow noreferrer"
          target="_blank"
        >
          <svg class="socpublic__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socpublic-item">
        <a
          href="https://www.twitter.com"
          class="socpublic__link link"
          aria-label="Twitter"
          rel="noopener nofollow noreferrer"
          target="_blank"
        >
          <svg class="socpublic__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li class="footer__socpublic-item">
        <a
          href="https://www.youtube.com"
          class="socpublic__link link"
          aria-label="Youtube"
          rel="noopener nofollow noreferrer"
          target="_blank"
        >
          <svg class="socpublic__icon" width="40" height="35">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socpublic-item">
        <a
          href="https://www.linkedin.com"
          class="socpublic__link link"
          aria-label="Linkedin"
          rel="noopener nofollow noreferrer"
          target="_blank"
        >
          <svg class="socpublic__icon" width="31" height="35">
            <use href="./images/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__copyright">Copyright &#169; 2021 - FinanceLedger</p>
  </div>
</footer>
