.section-cases {
  padding-top: 50px;
  padding-bottom: 46px;
  min-height: 1000px;

  @include tablet {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @include desktop {
    padding-top: 50px;
    padding-bottom: 47px;
  }

  & .container {
    padding-left: 28px;
    padding-right: 28px;
  }
}

.section-cases__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 35px;
  text-align: center;
}

.section-cases__bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 37px;
  text-align: center;

  @include tablet {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 38px;
  }

  @include desktop {
    margin-bottom: 39px;
  }
}

.section-cases__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    column-gap: 50px;
  }
}

.section-cases__item + .section-cases__item {
  @media screen and (max-width: 767px) {
    margin-top: 7px;
  }
}

.section-cases__item {
  width: 400px;
  height: 300px;
  position: relative;
}

.section-cases__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;

  color: #3c3939;
}

.section-cases__text-content {
  height: 200px;
}

.section-cases__comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.section-cases__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;

  color: #a1a1a1;
}
.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 3px;
  padding: 0;
  border: none;
  background-color: transparent;

  transition: border 250ms linear;
}

.btn:hover,
.btn:focus {
  border: 1px solid #a1a1a1;
}

.section-cases__btn-close {
  position: absolute;
  top: 0;
  right: 10px;
  background-image: url(../images/bin.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-cases__btn-like {
  position: absolute;
  top: 0;
  right: 50px;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.count {
  position: absolute;
  top: -5px;
  left: 15px;
  width: 15px;
  height: 15px;
  border-radius: 7px;
  background-color: #a1a1a1;
  color: #000000;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.6;
  z-index: 4;
}
